@{
    ViewData["Title"] = "Crie um personagem";
}

<link href="~/css/personagem.css" rel="stylesheet" type="text/css" />

@model AiRpgFrontEnd.Models.PersonagemViewModel

<section class="main-container " id="container">

    <audio autoplay>
        <source src="~/audio/rpg-music.mp3" type="audio/mp3">
    </audio>

    <h1 class="titulo">Pagina para criação de personagem</h1>

    
    <h2>Crie seu personagem</h2>

    <a href="/Home" class="seta_voltar"><img src="~/imgs/seta-voltar.png" alt="Voltar"></a>

    <form asp-action="CriarHistoria" asp-controller="Aventura" method="POST">
        <div class="card_personagens">
            <div class="card card_arqueiro" onclick="inputSelecionado('Arqueiro')">
                <img src="~/imgs/ilustracao_arqueiro.png" alt="Arqueiro">
                <span>Arqueiro</span>

                <input type="radio" name="Classe" id="arqueiro" value="Arqueiro" asp-for="classe" />

            </div>

            <div class="card card_guerreiro" onclick="inputSelecionado('Guerreiro')">
                <img src="~/imgs/guerreiro_ilustracao.png" alt="Guerreiro">
                <span>Guerreiro</span>

                <input type="radio" name="Classe" id="guerreiro" value="Guerreiro" asp-for="classe" />

            </div>

            <div class="card card_ladino" onclick="inputSelecionado('Ladino')">
                <img src="~/imgs/paladino_ilustracao.png" alt="Paladino">
                <span>Ladino</span>

                <input type="radio" name="Classe" id="ladino" value="ladino" asp-for="classe" />

            </div>

            <div class="card card_mago" onclick="inputSelecionado('Mago')">
                <img src="~/imgs/mago_ilustracao.png" alt="Mago">
                <span>Mago</span>

                <input type="radio" name="Classe" id="mago" value="Mago" asp-for="classe" />

            </div>
        </div>

        <input class="input_nome shadow-none" type="text" id="nome" value="" asp-for="nome" name="nome"
               placeholder="Digite seu nome" required>

        <div class="botao_continuar">
            <button type="submit" class="teste">Começar nova história</button>
        </div>
    </form>
</section>

@* <script>
    function iniciarAudio() {
        var meuAudio = document.getElementById('meuAudio');
        if (meuAudio) {
            meuAudio.play();
        }
    }
    debugger
    // Chama a função para iniciar o áudio quando a página for carregada
    document.addEventListener('DOMContentLoaded', function () {
        iniciarAudio();
    });

    // Chama a função para iniciar o áudio quando a página for recarregada (F5 ou botão de recarregar do navegador)
    window.addEventListener('load', function () {
        iniciarAudio();
    });
</script> *@

<script>
    function inputSelecionado(valor) {
        // Selecionar o input correspondente ao valor
        const input = document.getElementById(valor.toLowerCase());
        if (input) {
            input.checked = true;
            

            const divsPersonagens = document.querySelectorAll('.card');
            divsPersonagens.forEach(div => {
                div.classList.remove('selected')
            });

            const divsSelecionada = document.querySelector('.card_' + valor.toLowerCase());
            if (divsSelecionada) {
                divsSelecionada.classList.add('selected');
            }
            console.log('Selecionado:', valor);
        }
    }
</script>