@{
    ViewData["Title"] = "Embarque na sua aventura";
}

<link href="~/css/aventura.css" rel="stylesheet" type="text/css" />


<div class="nova_historia">

    <div class="card_principal">
        <p>
            A brisa suave acariciava o rosto de Brenda, carregando consigo o cheiro de pinho e terra úmida. Seus olhos esverdeados, penetrantes, observavam a densa floresta à sua frente. As árvores
            imponentes se erguiam como sentinelas, seus galhos entrelaçados formando um labirinto natural.

            Brenda, elfa e maga de renome, havia se aventurado nesta floresta em busca de um artefato lendário, a Varinha de Ágata. A lenda contava que a varinha estava escondida em um local secreto, protegido por um feitiço ancestral.

            Ao adentrar a floresta, Brenda avistou um caminho estreito que serpenteava entre as árvores.
            A trilha parecia pouco usada, mas a vegetação rasteira que a cobria indicava que alguém havia passado por ali recentemente. Um pouco mais adiante, o caminho se dividia em três direções:
            uma continuava pela floresta, outra seguia a margem de um rio e a última levava a uma pequena cabana de madeira, coberta por musgo e teias de aranha.

            Brenda respirou fundo, sentindo a magia antiga da floresta pairando no ar. O que faria?
        </p>
        <img class="icone_audio" src="~/imgs/audio.png"></img>
    </div>

    <div class="opcoes">
        <h3>Selecione uma opção para continuar:</h3>

        <div class="opcoes">

            <div class="opcao">
                <input type="radio" id="accent">
                <label>Seguir o caminho pela floresta</label>
            </div>

            <div class="opcao">
                <input type="radio" id="accent">
                <label>Explorar o rio</label>
            </div>

            <div class="opcao">
                <input type="radio" id="accent">
                <label>Investigar a cabana</label>
            </div>

        </div>

    </div>
</div>