

<link href="~/css/aventura.css" rel="stylesheet" type="text/css" />


<div class="nova_historia">

    <div class="card_principal">
        <p>
            @ViewBag.Historia
        </p>
        <form asp-action="PostSpeech" asp-controller="Aventura">
            <button type="submit"><img class="icone_audio" src="~/imgs/audio.png"></img></button>
        </form>
        
    </div>

    <div class="opcoes">
        <h3>Selecione uma opção para continuar:</h3>

        <div class="opcoes">

            <div class="opcao">
                <input type="radio" id="accent">
                <label>Seguir o caminho pela floresta</label>
            </div>

            <div class="opcao">
                <input type="radio" id="accent">
                <label>Explorar o rio</label>
            </div>

            <div class="opcao">
                <input type="radio" id="accent">
                <label>Investigar a cabana</label>
            </div>

        </div>

    </div>
</div>