.main-container {
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: rgb(92,82,127);
    background: linear-gradient(130deg, rgba(92,82,127,1) 0%, rgba(38,28,44,1) 100%);
    /*padding: 50px 0;*/
    position: relative;
    z-index: 1;
    padding: 40px 217px;
}


.seta_voltar{
    align-self: start;
}

.selected {
    border: 5px  solid white;
    background: tomato;
    border-radius: inherit;
    z-index: -1;
    transition: 0.3s;
    animation: botao-borda 10s linear infinite;
}
    .selected:hover {
        color:white;
    }

    .selected:hover::before {
        transform: scale(1.02, 1.15);
    }



    .titulo {
        width: 1em;
        position: absolute;
        left: -999em;
        overflow: hidden;
    }

h2 {
    font-family: 'Vollkorn SC', serif;
    font-size: 40px;
    font-weight: 600;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    position: relative;
    z-index: 1;
    gap:90px
}

    .main-container  .card_personagens{
        display:flex;
        gap:40px;
        justify-content: space-between;
        cursor: pointer;
    }

        .main-container  .card_personagens input {
            display: none;
        }

.main-container .card_personagens .card_arqueiro,
.main-container .card_personagens .card_guerreiro {
    border-radius: 0px 60px 60px 60px;
}

.main-container .card_personagens .card_ladino,
.main-container .card_personagens .card_mago {
    border-radius: 60px 0px 60px 60px;
}

    .main-container .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        width: 320px;
        height: 400px;
        background-color: #5C527F;
    }

        .main-container .card span {
            font-size: 24px;
            font-family: 'Vollkorn SC', serif;
            font-weight: 600;
            color: white;
        }

.input_nome {
    width: 900px;
    height: 50px;
    padding: 20px;
    border-radius: 25px;
    font-family: 'Vollkorn SC', serif;
    font-size: 20px;
}

.botao_continuar{
    align-self:flex-end;
    /*margin-right:110px;*/
}

.teste {
    width: 260px;
    height: 60px;
    border-radius: 25px;
    font-family: 'Vollkorn SC', serif;
    font-weight: 600;
    background-color: #5C527F;
    color: white;
    padding: 10px 0px;
    border: none;
}

.card img {
    animation: pulse 2s infinite;
}

.teste::before {
    width: 260px;
    height: 60px;
    background-color: orange;
    position: absolute;
    content: "";
    z-index: -1;
    transition: 0.3s;
    animation: botao-borda 10s linear infinite;
    right: 0px;
    bottom: 50px;
    border-radius: inherit;
}

.teste:hover::before {
    transform: scale(1.05);
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }
}

@keyframes botao-borda {
    50% {
        filter: hue-rotate(360deg);
    }
}