@using AiRpgFrontEnd.Models
@model PersonagemViewModel

@{
    PersonagemViewModel personagem = Model;
}

@{
    ViewData["Title"] = "Embarque na sua aventura";
}

<link href="~/css/aventura.css" rel="stylesheet" type="text/css" />


<section class="main-container " id="container">

    <h1 class="titulo">Pagina de início de nova história</h1>

    <a href="/Home" class="seta_voltar"><img src="~/imgs/seta-voltar.png" alt="Voltar"></a>
        
        <h2>@ViewBag.Nome, embarque na sua aventura</h2>

        
 
   

    @await Component.InvokeAsync("Historia")
</section>

